<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name%></title>
</head>
<body>
    <h1><%= name%></h1>
    <p>Marca: <%= brand%> </p>
    <p>Ano: <%= year%> </p>
    <p>Memória: <%= memory%> </p>

    <h2>Produtos relacionados</h2>
    <ul>
        <%for(let relationedProduct of relationedProducts){%>
            <li><%= relationedProduct%></li>
        <%}%>
    </ul>
</body>
</html>